

body{
  background-color: aquamarine;

  background-color: '#DAE0E6'
}

.post-container {
  border: 1px solid black;
  /* padding-left: 40px; */
  width: 100%;
  /* height: 320px; */
  /* background-color: aqua; */
  margin-bottom: 10px;
}
.category-list-container {
  /* width: 310px; */
  height: 440px;
  /* background-color: beige; */
  padding: 0;
}

.category-container {
  /* width: 310px; */
  height: 48px;
  background-color: coral;
}

.post-list-container {
  /* width: 640px; */
  padding: 0;
  background-color: aquamarine;
}



